*, ul, li{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: "Consolas", "Menlo", "Courier", monospace;
}
body{
    background: url("images/bg-body.jpg");
}
a{
    text-decoration: none;
    color: #c0c0c0;
}
.left{
    float: left;
}
.right{
    float: right;
}
.header{
    width: 100%;
    height: 125px;
    background: url("images/bg-header.jpg") repeat-x;
}
.header-box{
    width: 980px;
    padding: 10px;
    height: 105px;
    margin: 0 auto;
}
.header-box-left{
    height: 105px;
    width: 300px;
}
.header-box-left div p{
    width: auto;
    height: 14px;
    margin-top: 5px;
    font-size: 14px;
    color: #fffef7;
}
.header-box-left div {
    font-size: 40px;
    height: 105px;
    margin-top: 10px;
}
.header-box-left div .span1{
    color: yellow;
}
.header-box-left div .span2{
    color: green;
}
.header-box-left div .span3{
    color: #fffef7;
}
.header-box-right{
    height: 105px;
    width: 300px;
}
.header-box-right ul{
    height: auto;
    width:auto;
    margin-top: 70px;
}
.header-box-right ul li{
    float: right;
    width: auto;
    height: 20px;
    margin-left: 30px;
}
.header-box-right ul li a{
    font-size: 14px;
    font-weight: bold;
}
.header-box-right ul li a:hover{
    color: yellow;
}
.header-box-right ul li.main-page a{
    color: yellow;
}
.content{
    width: 980px;
    height: auto;
    margin: 0 auto;
    padding: 0 10px;
}
.content-title{
    width: 980px;
    height: 30px;
    margin-top: 50px;
    margin-bottom: 10px;
}
.content-title-right{
    width: 580px;
    height: 25px;
    line-height: 25px;
    margin-top: 1px;
}
.content-title-right .p1{
    width: auto;
    height: 100px;
    font-size: 14px;
    color: #666;
}
.content-title-right .p1 .span1{
    width: 60px;
    height: 25px;
    border: 1px solid #c0c0c0;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}
.content-content .p1{
    margin: 0 auto;
    width: 130px;
    height: 25px;
}
.content-content .p1 .span1{
    width: 60px;
    height: 25px;
    border: 1px solid #c0c0c0;
    border-radius: 10px;
    float: left;
    display: block;
}
.content-title-right .p1 .span1:hover{
    cursor: pointer;
    background: green;
    color: #FFFFFF;
}
.content-content .p1 .span1:hover{
    cursor: pointer;
    background: green;
    color: #FFFFFF;
}
.content-content .p1 .margin-left{
    margin-left: 10px;
}
.content-title-left{
    width: 400px;
    height: 25px;
    line-height: 25px;
    margin-top: 1px;
}
.content-title-left .p1{
    font-size: 16px;
    font-weight: bold;
    margin-right: 200px;
}
.content-title-left .p2{
    font-size: 14px;
}
.content-title-left .p2:hover{
    cursor: pointer;
}
.content-title-left .p2 span{
    color: #ff318c;
}
.content-content{
    width: 980px;
    height: 700px;
}
.content-content ul{
    width: 980px;
    height: 500px;
}
.content-content ul li{
    float: left;
}
.content-content ul li.margin-right{
    margin-right: 36px;
}
.content-content ul li img{
    width:218px;
    height: 179px;
}
.content-content ul li img:hover{
    cursor: pointer;
    opacity:0.8;
}
.content-content ul li div{
    width: 218px;
    height: 120px;
}
.content-content ul li div .p1{
    font-size: 14px;
    color: #404040;
}
.content-content ul li div .p2{
    font-size: 12px;
    color: #838383;;
}


.footer{
    background: url("images/bg-header.jpg");
    width:100%;
    height: 125px;
}
.footer-box{
    width:980px;
    height: 125px;
    margin: 0 auto;
    text-align: center;
}
.message{
    width:342px;
    height: 125px;
    margin-left: 304px;
}
.footer-box p{
    color: #fffef7;
    font-size: 18px;
    width: auto;
    height:18px;
    line-height: 125px;
    float: left;
    margin-right: 30px;

}